#canvas-grid {
	border: 1px solid black;
	display: block;
	margin: 0px auto;
}
#controls-container label {
	display: inline-block;
	width: 120px;
	background-color: #dddddd;
}
#controls-container input[type="number"] {
	width: 50px;
}
#controls-container input[type="button"] {
	display: inline-block;
	width: 165px;
}
#controls-container fieldset {
	display: inline-block;
}
#cycleBiasValue, #directionBiasOutput-container {
	text-align: right;
	display: inline-block;
	width: 6em;
}
#directionBiasAxis {
	text-align: left;
	display: inline-block;
	width: 3.5em;
}
#directionBiasValue {
	text-align: right;
	display: inline-block;
	width: 2em;
}