body {
	background: linear-gradient(135deg, white, black) no-repeat fixed;
}

.grid-container {
	display: grid;
	grid-template-columns: 20% auto;
	grid-template-rows: minmax(4em, auto);
}

#attributes-container {
	grid-column: 1 / 2;
	grid-row: 2 / -1;

	display: flex;
	flex-direction: column;
	gap: .25em;
}

#controls-container {
	grid-column: 1 / -1;
	grid-row: 1 / 2;

	display: flex;
	flex-direction: horizontal;
	flex-wrap:wrap;
	align-items: center;
	justify-content: right;
	gap: .25em;
}

#canvas-grid-container {
	grid-column: 2 / -1;
	grid-row: 2 / -1;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#canvas-container {
	background-color: white;
	margin: 0px;
	padding: 0px;
	border: 0px;
}

button.controls {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 10em;
	height: 4em;
	padding: 1em;
	margin: 0;

	border-radius: 6px;
}

button.controls:hover {
	background-color: rgb(163, 163, 254);
}